*{
    padding: 20px;
}
h1{
    margin: 30px;
}
div{
    background-color: #e5e9f0;
}
p{
    background-color: #34495E;
    color: white;
    border-radius: 20px;
    padding: 21px;
    margin: 30px;
}